.conteudo{
	background: #F2F5A9;
	width: 295px;
	padding: 5px;
	margin: 8px;
	float: left;
}

.clear{
	clear: both;
}

#princ{
	width: 980px;
	background-color: #F2F2F2;
	border: 5px solid #8181F7;
	padding: 10px;
}

body{
	background: #F8E0E6;
}